.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
     strong {
        margin: 10%;
     }
}

#alertID {
   display: flex;
   justify-content: space-between;
}

#opacity {
   opacity: 0.7;
}
